* {
  text-align: center;
  background-color: silver;
}

.btn {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  text-decoration: none;
}

.btn:hover {
  color: darkred;
}
