* {
  text-align: center;
  background-color: silver;
}

.container {
  margin: 0 auto;
  width: 40%;
}

.type-container {
  width: 100px;
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
}

.type {
  background: linear-gradient(black, green);
  color: white;
  padding: 5px;
}

.fit-width {
  white-space: nowrap;
}

table {
  border: black solid 2px;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
}
