* {
  text-align: center;
  background-color: silver;
}

.container {
  margin: 0 auto;
  width: 40%;
}

.btn-container {
  margin-bottom: 50px;
}

.btn {
  padding: 10px;
  background-color: black;
  color: silver;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 20px;
  text-decoration: none;
}

.btn:hover {
  color: darkred;
}

.card-container {
  margin-bottom: 30px;
  margin-left: 30px;
  display: inline-block;
}

.pokemon-item {
  margin-top: 5px;
}

.pokemon-item a {
  color: seashell;
  background: linear-gradient(black, red);
  text-decoration: none;
  border-radius: 20px;
  padding: 2px;
  font-style: italic;
  font-weight: bold;
  font-size: 0.85rem;
}

.type-container {
  width: 100px;
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
}

.type {
  background: linear-gradient(black, green);
  color: white;
  padding: 5px;
}

.fit-width {
  white-space: nowrap;
}

table {
  border: black solid 2px;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
}
